
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Concert One', cursive;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 38%;
    font-size: 1.75rem;
}
h1 {
    font-family: 'Concert One', cursive;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

main {
    max-width: 900px;
    margin: 0 auto;
}

.deck-container {
    margin: 0 auto;
    width: 95%;
}
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 41px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 41px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 1.5%;
    align-items: center;
    font-size: 1.5rem;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    display: inline;
    color: rgb(255, 217, 0);
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal-background {
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);

} 

.modal-body {
    border: 18px solid rgba(5, 98, 126, 0.493);
    top: 36%;
    left: 0%;
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 500px;
    height: 48%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.modal-content {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 17%
} 
 .modal-close {
    border-radius: 5px;
    top: -22px;
    left: -19px;
    position: relative;
 }

 .modal-stats {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .modal-stats>span {
    margin-bottom: 4%;
 }
 .modal-replay {
    margin-top: 4%;
    border-radius: 4px;
 }

 .modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.hide {
    display: none;
}


@media screen and (max-width: 375px) {
    .container {

    }
}