@media screen and (max-width: 960px) {
   .content .site-navigation {
        transition: transform 1s ease-in-out;
        margin: 0;
        padding: 0;
        display: none;
    }


    .site-navigation.open {
        transition: transform 6s ease-in-out;
        display: block;
        /* position: absolute; */

    }
    

    .content .site-navigation {
        width: 35%;
        }

    .content main {
        width: 100%;
    }
    
    
    .site-navigation-items li:nth-child(1) {
        height: 90px;
    }
}

@media screen and (min-width:960px) {
        .menu-icon {
        visibility: hidden;
    }
}


@media screen and (max-width:500px) { 
    .content .site-navigation {
        width: 90%;
    }


    }
